body {
	background-color: #CCCCCC;
}

h1 {
	background-color: #494949;

	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
	margin-left: -10px;
	margin-right: -10px;

	font-family: 'Oswald', sans-serif;
}

.landingpage {
	color: #FFFFFF;
}

.newspage {
	color: white;
}

.videospage {
	color: white;
}

.blogpage {
	color: white;
}

.contactpage {
	color: white;
}

a {
	display: inline-block;
	
	color: #FFFFFF;
	
	text-align: center;
	text-decoration: none;
	
	border-style: solid;
	border-width: 2px;
	
	margin-left: 20px;
	
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	
	font-family: 'Oswald', sans-serif;
}

a:hover {
	display: inline-block;
	
	color: #FFFFFF;
	background-color: #494949;
	
	text-align: center;
	text-decoration: none;
	
	border-style: solid;
	border-width: 2px;
	
	margin-left: 20px;
	
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	
	font-family: 'Oswald', sans-serif;
}

.headerspace {
	background-color: black;
	margin-right: -10px;
	margin-left: -10px;
	margin-top: -33px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
}

.video1 {
	position: fixed;
	display: block;

	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 150px;
	margin-right: 10px;
}

.video2 {
	position: fixed;
	display: block;

	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 800px;
	margin-right: 10px;
}

/* .videopagetitle {
	color: white;
	background-color: #494949;

	display: block;
	text-align: center;
	font-size: 48;
	margin-top: 25px;
	margin-bottom: 50px;

	padding-top: 10px;
	padding-bottom: 10px;
} */

.intbtn1 {
	text-align: center;
	border-radius: 3px;
	border-color: black;
	color: white;
	background-color: #494949;

	border-spacing: 5px;

	font-family: 'Slabo 27px', sans-serif;
	font-size: 12px;

}
.intbtn1:hover {
	border-color: #494949;
	color: black;
	background-color: white;
}

.game1desc {
	color: #494949;
	text-align: center;
	font-weight: bold;
	font-family: 'Slabo 27px', sans-serif;
}
.game1title {
	color: white;
	border-color: black;
	background-color: #494949;
	text-align: center;

	margin-left: 250px;
	margin-right: 250px;

	border-radius: 3px;

	padding-top: 5px;
	padding-bottom: 5px;

	font-family: 'Oswald', sans-serif;
}

.buttonHolder {
	text-align: center;
}
